<h1>Brudefølge</h1>
<p>
  Ønsker du komme i kontakt med noen i det fantastiske brudefølge finner du kontakt info under:
</p>
<h2>Toastmaster</h2>
<p>
  <strong>Petter</strong>
  <br> E-post:
  <a href="mailto:petterbt@gmail.com">petterbt@gmail.com</a>
  <br> Telefon:
  <a href="tel:+4793427359">934 27 359</a>
</p>
<h2>Forlovere</h2>
<p>
  <strong>Ida</strong>
  <br> E-post:
  <a href="mailto:ida.ulrichsen@hotmail.com">ida.ulrichsen@hotmail.com</a>
  <br> Telefon:
  <a href="tel:+4747755381">477 55 381</a>
</p>
<p>
  <strong>Helene</strong>
  <br> E-post:
  <a href="mailto:helene.oo@hotmail.com">helene.oo@hotmail.com</a>
  <br> Telefon:
  <a href="tel:+4740204568">402 04 568</a>
</p>
<p>
  <strong>Fredrik</strong>
  <br> E-post:
  <a href="mailto:fredrik.n.langmyhr@gmail.com">fredrik.n.langmyhr@gmail.com </a>
  <br> Telefon:
  <a href="tel:+4741652272">416 52 272</a>
</p>