<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav align="end" mode="over" #sidenav class="example-sidenav">

    <mat-list>
      <mat-list-item>Påmelding</mat-list-item>
      <mat-list-item>Kirken</mat-list-item>
      <mat-list-item>Festen</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <header>
        <button class="menu-btn" mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </header>
      <h1>18.08.2018</h1>
      <h1>Haslum Kirke</h1>
      <h1>Strand Restaurant</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<div class="container">
  <!-- <mat-grid-list cols="2" rowHeight="2:1" gutterSize="0">
    <mat-grid-tile [colspan]="2">
      <div class="header">
        <div>Christine & Erlend</div>
        <div>18.08.2018</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3">
      <div class="container__image">
        <img class="img--christine">
      </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3">
      <div class="container__image">
        <!-- <img src="/assets/images/erlend.jpg">
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
  <div class="header">
    <div class="header__names">Christine & Erlend</div>
    <div>18.08.2018</div>
  </div>
  <div class="card">
    <div class="card__img card__img--christine"></div>
    <div class="card__img card__img--erlend"></div>
  </div>
  <div class="card">
    <div class="card__menu card__menu--friday">
      <div class="card__title">Fredagen</div>
      <div class="card__menu-img"></div>
    </div>
    <div class="card__menu card__menu--saturday">
      <div class="card__title">Lørdagen</div>
      <div class="card__menu-img"></div>      
    </div>
  </div>
  <div class="card">
      <div class="card__menu card__menu--wishlist">
          <div class="card__title">Ønskelisten</div>
          <div class="card__menu-img"></div>
        </div>
        <div class="card__menu card__menu--saturday">
          <div class="card__title">Brudefølge</div>
          <div class="card__menu-img"></div>      
        </div>
  </div>
</div>