:host{
    display: flex;
    flex-direction: column;
}

h1, h2{
    color: #cd9b1d;
    align-self: center;
    margin: 0;
    font-size: 39px;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 55px;
}

md-sidenav-container{
   background-color: transparent;
   flex: 1;
}

md-icon{
    color: white;
}

md-sidenav{
    width: 80%;
}

content{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    flex-direction: column;
}

.menu-btn{
    float: right;
}