@import "../assets/styles/variables";

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 800px;
    grid-template-areas: "header header" "main main";
    border: 3px solid $gold;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.main{
    grid-area: main;

}

.header {
    grid-area: header;
    &__names {
        font-size: 30px;
    }
}