<md-sidenav-container class="example-container">
  <header>
    <button class="menu-btn" md-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </header>
  <md-sidenav #sidenav align="end" class="example-sidenav">
    <md-list>
      <md-list-item>Påmelding</md-list-item>
      <md-list-item>Kirken</md-list-item>
      <md-list-item>Festen</md-list-item>
    </md-list>
  </md-sidenav>
  <content>
    <h1>18.08.2018</h1>
    <h1>Haslum Kirke</h1>
    <h1>Strand Restaurant</h1>
  </content>
</md-sidenav-container>