<h1>Lørdagen</h1>
<p>
  Vi møtes i Haslum Kirke for vielse kl 14.30.
</p>
<p>
  Videre går veien til Strand Restaurant på Høvik hvor både middagen og festen vil holdes. Vi vil sette opp transport fra kirken
  og til restauranten, send en melding til brudeparet hvis dette er av interesse!
</p>
<p>
  Etter litt mingling i solen (forhåpentligvis) vil middagen serveres rundt kl 18. Ønsker du holde en tale eller si noen ord
  til brudeparet, ta kontakt med vår toastmaster, Petter på <a href="tel:+4793427359">93427359</a> og <a href="mailto:petterbt@gmail.com">petterbt@gmail.com</a>
</p>
<p>
  PS! Har du god musikksmak tas lister gjerne i mot 😊
</p>