<div class="card">
  <div class="card__img card__img--christine"></div>
  <div class="card__img card__img--erlend"></div>
</div>
<div class="card">
  <a class="card__menu card__menu--friday" routerLink="/friday" routerLinkActive="active">
    <h2 class="card__title">Fredagen</h2>
    <div class="card__menu-img"></div>
  </a>
  <div class="card__menu card__menu--saturday">
    <h2 class="card__title">Lørdagen</h2>
    <div class="card__menu-img"></div>
  </div>
</div>
<div class="card">
  <div class="card__menu card__menu--wishlist">
    <h2 class="card__title">Ønskelisten</h2>
    <div class="card__menu-img"></div>
  </div>
  <div class="card__menu card__menu--saturday">
    <h2 class="card__title">Brudefølge</h2>
    <div class="card__menu-img"></div>
  </div>
</div>