@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

:host{
    justify-self: stretch;
    grid-area: main;
    width: 100%;
}

.card {
    display: flex;
    &__title {
        margin-bottom: 3px;
    }
    &__img {
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 200px;
        margin: 10px;
        border: 1px solid $gold;
        background-clip: content-box;
        padding: 5px;
        &--christine {
            background-image: url('/assets/images/christine.jpg');
            margin-right: 2px;
        }
        &--erlend {
            background-image: url('/assets/images/erlend.jpg');
            margin-left: 2px;
        }

        @include tablet{
            height: 400px;
        }

        @include desktop{
            height: 800px;
        }
    }
    &__menu {
        background-clip: content-box;
        padding: 5px;
        border: 1px solid $gold;
        display: flex;
        margin: 10px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        &-img {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position-x: center;

            @include tablet{
                height: 400px;
            }

            @include desktop{
                height: 800px;
            }
        
        }
        &--friday {
            .card__menu-img {
                background-image: url('/assets/images/champagne.jpeg');
            }
            margin-right: 2px;
        }
        &--saturday {
            margin-left: 2px;
            .card__menu-img {
                background-image: url('/assets/images/rings.jpeg');
            }
        }
        &--wishlist {
            margin-right: 2px;
            .card__menu-img {
                background-image: url('/assets/images/gift.jpeg');
            }
        }
    }
}